<section>
    <app-nav-bar></app-nav-bar>
</section>

<div class="sideAlert">
    {{sideMessage}}
</div>
<section id="Home" class="top-section d-flex align-items-center">
    <div class="holdPhone">
    </div>
    <div class="p-3 py-4 ps-5 header">
        <h1 class="py-1">Family <span> Reunion</span> </h1>
        <h5 class="pb-1">PROFESSIONAL WAY TO Find Missing People.</h5>
    </div>

</section>
<section class="dd text-center ">
    <div class="px-5 Dinner">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-2 col-6 mb-2">
                <a href="https://www.facebook.com/" target="_blank">
                    <img class="img-fluid" src="../../../assets/images/landing/SectionOne/Group35054.png" />
                </a>
            </div>

            <div class="col-md-2 col-6 mb-2">
                <a href="https://www.instagram.com/?hl=en">
                    <img class="img-fluid" src="../../../assets/images/landing/SectionOne/Group322.png" />
                </a>
            </div>

            <div class="col-md-2 col-6 mb-2">
                <a href="https://twitter.com/mahmoudelwan460">
                    <img class="img-fluid" src="../../../assets/images/landing/SectionOne/Group35059.png" />
                </a>
            </div>
            <div class="col-md-2 col-6 mb-2">
                <a href="http://">
                    <img class="img-fluid" src="../../../assets/images/landing/SectionOne/Group35060.png" />
                </a>
            </div>

        </div>
    </div>
</section>
<!-- How it works -->
<!-- <section id="HW" class="container HW text-center">
    <div class="h-100 p-5 my-5 ">
        <h2>How it works</h2>
        <div class="row d-flex my-5">
            <div class="col-md-4 my-2">
                <div>
                    <div class="capTion">
                        <p class="my-2 count">1</p>
                        <p class="ms-2">Create your account</p>
                    </div>
                    <div>
                        <img class="img-fluid me" src="../../../assets/images/landing/SectionTwo/Group35076.png" />

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div>
                    <div class="capTion">
                        <p class="my-2 count">2</p>
                        <p class="ms-2">Setup your account</p>
                    </div>
                    <img class="img-fluid m-auto" src="../../../assets/images/landing/SectionTwo/Group 34858.png" />
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div>
                    <div class="capTion">
                        <p class="my-2 count">3</p>
                        <p class="ms-2">Start using your card</p>
                    </div>
                    <div class="ms-2">
                        <img class="img-fluid  ms-5" src="../../../assets/images/landing/SectionTwo/Group 34886.png" />

                    </div>
                </div>
            </div>


        </div>
    </div>
</section> -->
<section id="HW" class="container HW text-center">
    <div class="h-100 p-5 my-5 ">
        <h2>How it works</h2>
        <div class="row d-flex my-5">
            <div class="col-md-4 my-2">
                <div>
                    <div class="capTion">
                        <p class="my-2 count">1</p>
                        <p class="ms-2">Access  web application</p>
                    </div>
                    <div>
                        <img class="img-fluid me" src="../../../assets/imgs/mockups/moc1.png" />

                    </div>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div>
                    <div class="capTion">
                        <p class="my-2 count">2</p>
                        <p class="ms-2">Search</p>
                    </div>
                    <img class=" img-fluid m-auto" src="../../../assets/imgs/mockups/moc22.png" />
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div>
                    <div class="capTion">
                        <p class="my-2 count">3</p>
                        <p class="ms-2">Check result?</p>
                    </div>
                    <div class="ms-2">
                        <img class=" img2  ms-5" src="../../../assets/imgs/mockups/moc3.png" />

                    </div>
                </div>
            </div>


        </div>
    </div>
</section> 


<section id="quickHomeSearch">
    <quick-search-in-homeless-before-add-report></quick-search-in-homeless-before-add-report>
    <!-- <app-quick-search></app-quick-search> -->
</section>

<!-- Q&A -->
<section id="QA" class=" QA">
    <div class="container h-100 p-5 my-5  QAInner">
        <div class="text-center head">
            <h2>Frequently Asked Questions</h2>

        </div>

        <div class="row align-items-center  justify-content-center my-5">
            <div class="col-md-6 text my-2">
                <h3>1.How to use Family Reunion system?</h3>
                <p class="ps-4">watch our  guid to learn more.</p>
            </div>
            <div class="col-md-6 text-center my-2">
                <video width="320" height="240" controls>
                    <source src="https://youtu.be/i6EyUGVY-Ks" type="video/mp4" au>
                </video>

            </div>


            <div class="col-md-6 text-center my-2">
                <img class="img-fluid" src="../../../assets/images/landing/SectionThree/Group 34954.png" />

            </div>
            <div class="col-md-6 text my-2">
                <h3>2.Which Devices Dose Family Reunion support?</h3>
                <div class="ps-4">
                    <p class="">PC & Smart phone (Android or IOS).</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About Us -->
<section id="about" class=" AboutUs">
    <div class=" container h-100 p-5 mt-3 mb-5 ">

        <div class="row align-items-center  justify-content-center my-5">

            <div class="col-md-6 text my-2">
                <h2>About Us?</h2>
                <p class="ps-4 aboutDesc">We are “Family Reunion” team; we aim to have influence and be the key to solving the mystery of finding missing people. Through this web application you can report if someone is missed and keep track if he/she is found or not. Also police stations and shelters can take advantage and use this web application to make their job easier in this scope. </p>
            </div>
            <div class="col-md-6 text-center my-2">
                <img class="img-fluid" src="../../../assets/images/landing/SectionFour/Group 34889.png" />

            </div>


        </div>
    </div>
</section>