<nav id="SuperAdmin" class="nnn navbar navbar-expand-lg fixed-top changeColor" >
  <div class="container-fluid  hz">
    <a class="navbar-brand"  href="#">
      <img src="../../../assets/imgs/family.png" />
    </a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-solid fa-bars"></i>

      <!-- <span>ClicK</span> -->
    </button>
    <div class="collapse navbar-collapse nn" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active HOMELINk" aria-current="page" (click)="Navigate('')" href="#">Home</a>
        </li>
        <li class="nav-item hprof">
          <a class="nav-link prof" href="#quickHomeSearch">Search</a>
        </li>
    
        <li class="nav-item z">
          <a class="nav-link" href="#HW">How it Work</a>
        </li>
        <li class="nav-item z">
          <a class="nav-link" href="#QA">Q&A</a>
        </li>
        <li class="nav-item z">
          <a class="nav-link" href="#about">About Us</a>
        </li>



        <li class="nav-item z">
          <a class="nav-link" href="#footer">Contact Us</a>
        </li>

        <!-- <li class="nav-item navForm2 mt-2">
          <a class="OCP OCP2 " (click)="Navigate('products')">Products</a>
        </li>


        <li class="nav-item navForm2 mt-2">
          <a class="OCP OCP2 " (click)="Navigate('order')">Order</a>
        </li>


        <li class="nav-item navForm2 mt-2">
          <a class="OCP OCP2 " (click)="Navigate('cart')">Cart</a>
        </li>

        <li class="nav-item navForm2">
          <div class="">
            <a class="nav-signUp nav-signUp2  mt-1" (click)="Navigate('signUp')">Sign Up</a>
          </div>
        </li>
        <br>
        <li class="nav-item navForm2">
          <div class="">
            <a class="nav-login nav-login2" (click)="Navigate('login')">Log In</a>
          </div>
        </li>

        <li class="nav-item navForm2">
          <div class="">
            <a class="nav-logout  nav-logout2" (click)="logout()">logout</a>
          </div>
        </li> -->

      </ul>
      <!-- <div class="d-flex navForm">
        <div class="btn me-2 OCP">
          <a class="" (click)="Navigate('products')">
            Products
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
          </a>
        </div>
        <div class="btn me-2 OCP">
          <a class="" (click)="Navigate('order')">
            Order
            <i class="fas fa-shopping-basket" aria-hidden="true"></i>
          </a>
        </div>
        <div class="btn me-2 OCP">
          <a class="" (click)="Navigate('cart')">
            Cart
            <i class="fab fa-opencart" aria-hidden="true"></i>
          </a>
        </div>

        <div class="btn me-2">
          <a class="nav-login" (click)="Navigate('login')">Log In</a>
        </div>
        <div class="btn me-2">
          <a class="nav-signUp" (click)="Navigate('signUp')">Sign Up</a>
        </div>
        <div class="btn me-2">
          <a class="nav-logout" (click)="logout()">logout <i class="fas fa-sign-out-alt"></i></a>
        </div>

      </div> -->
    </div>
  </div>
</nav>