<div id="footer" class="div">
    <div class="container p-5">
        <div class="row justify-content-center align-items-center ">
            <div class="col-md-4 my-2">

                    <img class="img-fluid" src="../../../assets/imgs/family.png"  (click)="Navigate('')"/>

                <p class="my-2 aboutDesc">We are “Family Reunion” team; we aim to 
                    have influence and be the key to solving the mystery of finding missing people. 
                    Through this web application you can report if someone is missed and keep track 
                    if he/she is found or not. Also police stations and shelters can take advantage and use
                     this web application to make their job easier in this scope. </p>
            </div>


            <div class="col-md-4  ps-5 secCol my-2 my-md-5">
                <h3 class="mt-md-5 pt-md-2">Company</h3>
                <div class="">
                    <p>
                        <a href="#">Home</a>
                    </p>
                    <p>
                        <a class="prof" >Search</a>
                    </p>
                    <p>
                        <a href="#HW">How it Work</a>
                    </p>
                    <p>
                        <a href="#QA">Q&A</a>
                    </p>
                    <p>
                        <a href="#about">About Us</a>
                    </p>
                  
                </div>
            </div>


            <div class="col-md-4 my-2">
                <h3>Contact</h3>
                <p> <i class="fa fa-phone-alt" aria-hidden="true"></i> 01142951602</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> mahmoudelwan460@gmail.com</p>
                <div class="socialIcons">
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100089180940474&mibextid=LQQJ4d"><i class="fab fa-facebook-square fa-2x"></i></a>
                    <a  target="_blank"  href="https://twitter.com/LinkitQa"><i class="fab fa-twitter-square fa-2x"></i></a>
                    <a  target="_blank"  href="https://www.instagram.com/linkit_qa/?igshid=YmMyMTA2M2Y%3D"><i class="fab fa-instagram-square fa-2x"></i></a>
                </div>

            </div>


        </div>
    </div>
</div>