<div class="d-flex align-items-center justify-content-center h-100 ">
    <div class="text-start sideNav">
        <div class="text-center mb-5">
            <!-- <i class="fa fa-home"></i> -->
            <img class="" src="../../../assets/imgs/navIcons/nav_icons_white/nav_icons_white/8726049_home_alt_icon.png" (click)="Navigate('admin')">

        </div>
        <!-- <div class="my-3">

        </div> -->
        <div class="text-center  mb-5">
            <img class="" src="../../../assets/imgs/navIcons/nav_icons_white/nav_icons_white/8725818_folder_icon.png">
        </div>

        <div class="text-center  mb-5">
            <img class="" src="../../../assets/imgs/navIcons/nav_icons_white/nav_icons_white/8725584_chart_pie_alt_icon.png">

        </div>


        <div class="text-center  mb-5">
            <!-- <i class="fa fa-cog" aria-hidden="true"></i> -->
            <img class="" src="../../../assets/imgs/navIcons/nav_icons_white/nav_icons_white/2255648_mixer_audio_music_player_settings_icon.png">

        </div>
    </div>
</div>
<!-- <div class="text-center bottomIMG">
    <img src="../../../assets/imgs/7a70083d-2a85-4eef-9340-f6cdb1f2005f.png" alt="" srcset="">
</div> -->